:root {
    --background: #000000;
    --background-2: #0f0f0f;
    --text: #ffffff;
    --highlight: #ff0000;
    --highlight-2: #63d2f4;
    --noise-var: 0.1;
    --animation-logo: redAni;

    /* variable-white */
    /* --background: #ffffff;
    --background-2: #f5f5f5;
    --text: #000000;
    --highlight: #ff0000;
    --highlight-2: #63d2f4;
    --noise-var: 0.05; 
    --animation-logo: blueAni; */
   
  }

@font-face {
    font-family: Generic;
    src: url("../assets/Generic-G50-CC-Typic.ttf") format("truetype"),
        url("../assets/Generic-G50-CC-Typic.woff") format("woff");
}

@font-face {
    font-family: Geist-Mono;
    src: url("../assets/GeistMono/ttf/GeistMono-Regular.ttf") format("truetype"),
        url("../assets/GeistMono/webfonts/GeistMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Octuple;
    src: url("../assets/Octuple-max-demo.ttf") format("truetype");
}

body {
    font-family: Generic, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    background: var(--background);
    background-color: var(--background);
}

p {
    font-family: Generic;
    font-weight: 400;
    font-size: 15px;
}


h1 {
    font-size: 5.8rem;
    line-height: 1;
    color: rgba(255, 0, 0, 0.85);
    filter: drop-shadow(0rem 0rem 0.96rem var(--background));
    text-decoration: none;
}

h2 {
    font-family: Generic;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    font-family: Generic;
    font-size: 18px;
    font-weight: normal;
    line-height: auto;
}

h4 {
    font-family: Quasimoda;
    font-size: 11px;
    line-height: auto;
    letter-spacing: 0.875px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px;
}

@keyframes blueAni {

    0%,
    100% {
        filter: sepia(100) invert(100%) saturate(50) drop-shadow(0rem 0rem 0rem var(--highlight-2)) blur(0px);
    }

    50% {
        filter: sepia(100) invert(100%) saturate(100) drop-shadow(0rem 0rem 1rem var(--highlight-2));
    }
}

@keyframes redAni {

    0%,
    100% {
        filter: sepia(100) invert(0%) saturate(10) drop-shadow(0rem 0rem 0rem var(--highlight)) blur(0px);
    }

    50% {
        filter: sepia(100) invert(0%) saturate(40) drop-shadow(0rem 0rem 1rem var(--highlight));
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}