:root {
    /* default is dark mode */

    /* main attributes */
    --background: black;
    --background-2: #0f0f0f;
    --text: white;
    --button-primary: #ff0000;
    --button-primary-accent: #ffff0d;
    --primary-accent: #ff0000;
    --secondary-accent: grey;

    /* logo animations */
    --highlight: #ff0000;
    --highlight-2: #63d2f4;

    --highlight-3: #d5d3bb;
    --noise-var: 0.1;
    --animation-logo: redAni;

    --modal-background-darken: rgba(0, 0, 0, 0.8);
    --modal-background-lighten: rgba(255, 255, 255, 0.8);
}

body.light {
    --background: var(--text);
    --text: var(--background);
}

@font-face {
    font-family: Generic;
    src: url("../assets/Generic-G50-CC-Typic.ttf") format("truetype"),
        url("../assets/Generic-G50-CC-Typic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Geist-Mono;
    src: url("../assets/GeistMono/ttf/GeistMono-Regular.ttf") format("truetype"),
        url("../assets/GeistMono/webfonts/GeistMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Octuple;
    src: url("../assets/Octuple-max-demo.ttf") format("truetype");
}

@font-face {
    font-family: Mirtha;
    src: url("../assets/MirthaDisplayBold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Mirtha;
    src: url("../assets/mirthadisplaytrial-bolditalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: Generic, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    background: var(--background);
    background-color: var(--background);
}

p {
    font-family: Generic;
    font-weight: 400;
    font-size: 15px;
}


h1 {
    font-size: 5.8rem;
    line-height: 1;
    color: rgba(255, 0, 0, 0.85);
    filter: drop-shadow(0rem 0rem 0.96rem var(--background));
    text-decoration: none;
}

h2 {
    font-family: Generic;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    font-family: Generic;
    font-size: 18px;
    font-weight: normal;
    line-height: auto;
}

h4 {
    font-family: Quasimoda;
    font-size: 11px;
    line-height: auto;
    letter-spacing: 0.875px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px;
}

@keyframes logoAnimation-1 {

    0% {
        filter: saturate(1) drop-shadow(0rem 0rem 0rem var(--highlight));
    }

    50% {
        filter: saturate(2.5) drop-shadow(0rem 0rem 1rem var(--highlight));
    }

    100% {
        filter: saturate(1) drop-shadow(0rem 0rem 0rem var(--highlight));
    }
}

@keyframes logoAnimation-2 {

    0% {
        filter: sepia(100) saturate(20) drop-shadow(0rem 0rem 0rem var(--highlight)) blur(0px);
    }

    50% {
        filter: sepia(100) saturate(40) drop-shadow(0rem 0rem 1rem var(--highlight)) blur(0px);
    }

    100% {
        filter: sepia(100) saturate(20) drop-shadow(0rem 0rem 0rem var(--highlight)) blur(0px);
    }
}

@keyframes greenAni {

    0%,
    100% {
        filter: drop-shadow(0rem 0rem 0rem var(--highlight-3)) blur(0px);
    }

    50% {
        filter: drop-shadow(0rem 0rem 1rem var(--highlight-3));
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
        filter: sepia(100) invert(0%) saturate(10) drop-shadow(0rem 0rem 0rem var(--highlight)) blur(0px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        filter: sepia(100) invert(0%) saturate(40) drop-shadow(0rem 0rem 1rem var(--highlight));
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        filter: sepia(100) invert(0%) saturate(10) drop-shadow(0rem 0rem 0rem var(--highlight)) blur(0px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        filter: sepia(100) invert(0%) saturate(40) drop-shadow(0rem 0rem 1rem var(--highlight));
    }
}

#f2 {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
}

.logoFade img {
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}