:root {
    --header-logo-width: 70%;
}

.cpd-logo {
    /* mix-blend-mode: difference; */
    animation: var(--animation-logo) 2s infinite;
}

header {
    z-index: 5000;
    /* mix-blend-mode: difference; */
}

header .containerFull {
    width: 34vw;
    height: auto;
    position: absolute;
    top: 1vw;
    right: 0;
    padding-right: 1vw;
}

header .containerFullFlex {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-2);
    background: linear-gradient(180deg, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 1) 70%, rgba(15, 15, 15, 0) 100%);
}

#headerShrink {
    width: 50%;
    transition: width 0.75s ease;
}

.scrolled #headerShrink {
    width: 30%;
}

header {
    position: sticky;
    top: 0;
    left: 0;
}

/* .work .containerFlex {
    /* padding-top: 19vw;  */
/* 25% = 5vw 5% = 1vw +2.5 !!*/
/* with normal header */
/* 25% = 5vw 5% = 1vw +5 !!*/
/* with nav header */


.work header .containerNav {
    padding-top: .5vw;
    padding-bottom: .5vw;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* Key part */
    align-items: center;
    animation: "fadeIn 1.25s ease-in-out";
}

.work header .containerNav .nav:first-child {
    justify-self: start;
    /* Align first item left */
}

.work header .containerNav .active {
    justify-self: center;
    /* Center middle item */
}

.work header .containerNav .nav:last-child {
    justify-self: end;
    /* Align last item right */
}

.work header .containerNav .nav {
    cursor: pointer;
    /* Makes it feel clickable */
}

.work header .containerNav .nav,
.work header h3 {
    font-size: 1.5vw;
    color: var(--text);
    font-family: Geist-Mono;
    /* text-align: right; */
}

.work header .containerNav .nav:hover,
.work header .containerNav .active {
    cursor: pointer;
    color: var(--background);
    background-color: var(--text);
}

@media (max-width: 540px) {
    header {
        margin-top: 2.5vw;
    }

    header .containerFullFlex a {
        width: 90%;
    }

    header .liveTime {
        font-size: 3vw;
    }

    header h3 {
        font-size: 2.5vw !important;
    }
}

/* 
@media (max-width: 540px) {
    .page-header {
        height: auto;
        width: 100vw;
        top: calc(var(--vh, 1vh) * 1);
        padding: 0 5vh;
    }
} */

/* @media (max-width: 540px) {
    .liveTime {
        text-align: center;
        font-size: calc(3.25vw + 0.5vh);
    }
} */