.home {
    /* border: 3px solid greenyellow; */
    position: absolute;
    z-index: 2000;
    width: 100vw;
    text-align: center;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 1s ease-in-out, transform 1s ease-in-out, width 1s ease-in-out;
}

.home .enter {
    /* border: 3px solid blue; */
    pointer-events: all;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: min-content;
}

.home .cpd-logo {
    /* border: 3px solid palevioletred; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none;
    width: 85vw;
    transition: transform 1s ease-in-out;
    animation: redAni 5s infinite;
}

.home body.inverted .cpd-logo {
    position: absolute;
    pointer-events: none;
    animation: blueAni 5s infinite;
}

.home .enter.logo-transition {
    position: relative;
    animation: fadeOut 0.5s ease-in-out forwards;
}

.home .cpd-logo.logo-transition {
    position: relative;
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    .home .cpd-logo {
        width: 90vw;
    }

    .home .cpd-logo.logo-transition {
        position: relative;
    }

    .home.logo-transition {
        top: 15% !important;
        left: 50% !important;
        width: 90vw !important;
    }

    .home .enter {
        font-size: 3rem !important;
    }
}

.home.logo-transition {
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 60vw;
}

/* BACKGROUND.CSS */
html,
body {
    overflow: hidden;
}


body {
    background-color: black;
    transition: filter 0.5s ease, background-color 0.5s ease;
}

body.inverted {
    background-color: black;
    filter: invert(1);
}

header {
    z-index: 1500;
}

.background {
    position: relative;
    margin-top: -30vh;
    margin-left: -10vw;
    margin-right: -20vw;
    padding-bottom: 20px;
    transform: rotate(10deg);
    transition: transform 3s ease;
    height: 100vh;
}

@media (max-width: 600px) {
    .background {
        margin-top: -10vh;
        margin-left: -20vw;
    }
}

body.inverted .background {
    transform: rotate(-10deg);
}

.background .flyImage {
    width: 40vh;
    aspect-ratio: 4 / 5;
    background-size: cover;
    background-position: center;
}

@media (max-width: 600px) {
    .background .flyImage {
        width: 50vw;
        aspect-ratio: 4 / 5;
        background-size: cover;
    }
}

.background .container {
    margin-top: 1rem;
}

.background .marquee {
    --gap: clamp(0.5rem, 1rem, 1.5rem);
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.background .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    /* min-width: 100%; */
}

.background .marquee__content__1 {
    animation: scroll 14s linear infinite;
}

.background .marquee__content__2 {
    animation: scroll 20s linear infinite;
}

.background .marquee__content__3 {
    animation: scroll 10s linear infinite;
}

body.inverted .background .marquee__content__1 {
    animation: scroll-reverse 14s linear infinite;
}

body.inverted .background .marquee__content__2 {
    animation: scroll-reverse 20s linear infinite;
}

body.inverted .background .marquee__content__3 {
    animation: scroll-reverse 10s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes scroll-reverse {
    from {
        transform: translateX(calc(-100% - var(--gap)));
    }

    to {
        transform: translateX(0);
    }
}

.button-7 {
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 1100;
    background: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 25px;
}

@media (max-width: 600px) {
    .modal-content {
        max-width: 90%;
        max-height: 90%;
        border-radius: 10px;
    }
}

.marquee--fit-content {
    max-width: fit-content;
}

.marquee--pos-absolute .marquee__content:last-child {
    position: absolute;
    top: 0;
    left: 0;
}

.cursor-image {
    position: absolute;
    mix-blend-mode: exclusion;
    /* filter: invert(100%); */
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.05s linear;
    /* mix-blend-mode: screen;  */
    z-index: 10000;
}

@import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo;

@layer demo {
  :root {
    --color: light-dark(red,red);
    --shadow: light-dark(#ffff0d, #ffff0d);
    --glare: light-dark(white, hsl(0 0% 100% / 0.75));
    --transition: 0.5s;
  }

  .dazzle {
    --font-level: 5;
    --font-size: 1em;
    --padding: 0.12em;
    padding: var(--padding) calc(var(--padding) * 2);
    border-radius: 0.25em;
    text-decoration: none;
    color: transparent;
    position: relative;
    transition: background 0.2s 0.1s;
    font-weight: 600;
  }


  .dazzle span {
    display: inline-block;
    transition: all 0.2s;
    text-decoration: none;
    text-shadow: calc(var(--hover) * (var(--font-size) * -0))
        calc(var(--hover) * (var(--font-size) * 0)) var(--shadow),
      calc(var(--hover) * (var(--font-size) * -0.02))
        calc(var(--hover) * (var(--font-size) * 0.02)) var(--shadow),
      calc(var(--hover) * (var(--font-size) * -0.04))
        calc(var(--hover) * (var(--font-size) * 0.04)) var(--shadow),
      calc(var(--hover) * (var(--font-size) * -0.06))
        calc(var(--hover) * (var(--font-size) * 0.06)) var(--shadow),
      calc(var(--hover) * (var(--font-size) * -0.08))
        calc(var(--hover) * (var(--font-size) * 0.08)) var(--shadow),
      calc(var(--hover) * (var(--font-size) * -0.1))
        calc(var(--hover) * (var(--font-size) * 0.1)) var(--shadow);
    transform: translate(
      calc(var(--hover) * (var(--font-size) * 0.1)),
      calc(var(--hover) * (var(--font-size) * -0.1))
    );
  }

  .dazzle span:last-of-type {
    position: absolute;
    inset: var(--padding) calc(var(--padding) * 2);
    background: linear-gradient(
          108deg,
          transparent 0 55%,
          var(--glare) 55% 60%,
          transparent 60% 70%,
          var(--glare) 70% 85%,
          transparent 85%
        )
        calc(var(--pos) * -200%) 0% / 200% 100%,
      var(--color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    z-index: 2;
    text-shadow: none;
    transform: translate(
      calc(var(--hover) * (var(--font-size) * 0.1)),
      calc(var(--hover) * (var(--font-size) * -0.1))
    );
  }

  .dazzle span:last-of-type {
    transition: transform 0.2s, background-position 0s;
  }

  .dazzle:is(:hover, :focus-visible) span:last-of-type {
    transition: transform 0.2s,
      background-position calc(var(--hover) * 1.5s) calc(var(--hover) * 0.25s);
  }

  .dazzle {
    --hover: 0.4;
    --pos: 0;
  }

  .dazzle:is(:hover, :focus-visible) {
    --hover: 1;
    --pos: 1;
  }

  .dazzle:active {
    --hover: 0;
  }

  .dazzle:active span:last-of-type {
    --hover: 0;
    --pos: 1;
  }

  .dazzle svg {
    position: absolute;
    z-index: 3;
    width: calc(var(--font-size) * 0.5);
    aspect-ratio: 1;
  }

  .dazzle svg path {
    fill: var(--glare);
  }

  /* Animation for sparkles */

  .dazzle:focus-visible {
    outline: none;
  }

  .dazzle:is(:hover, :focus-visible) svg {
    animation: sparkle 0.75s calc(0.1s + ((var(--delay-step) * var(--d)) * 1s))
      both;
  }

  @keyframes sparkle {
    50% {
      transform: translate(-50%, -50%) scale(var(--s, 1));
    }
  }

  .dazzle svg {
    --delay-step: 0.15;
    top: calc(var(--y, 50) * 1%);
    left: calc(var(--x, 0) * 1%);
    transform: translate(-50%, -50%) scale(0);
    stroke-width: 1;
    stroke: light-dark(black, #0000);
  }

  .dazzle svg:nth-of-type(1) {
    --x: 0;
    --y: 20;
    --s: 1.1;
    --d: 1;
  }

  .dazzle svg:nth-of-type(2) {
    --x: 15;
    --y: 80;
    --s: 1.25;
    --d: 2;
  }

  .dazzle svg:nth-of-type(3) {
    --x: 45;
    --y: 40;
    --s: 1.1;
    --d: 3;
  }

  .dazzle svg:nth-of-type(4) {
    --x: 75;
    --y: 60;
    --s: 0.9;
    --d: 2;
  }

  .dazzle svg:nth-of-type(5) {
    --x: 100;
    --y: 30;
    --s: 0.8;
    --d: 4;
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

  [data-theme='dark'] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }
  
  body {
    min-height: 100vh;
  }
  
}

table {
    filter: drop-shadow(0rem 0rem 1rem #ff0000);
}

.AsciiCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; /* Adjust z-index if necessary */
    pointer-events: none;
  }

  @media (max-width: 600px) {
    
}

/* Preloader Full-Screen Overlay */
#preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000; /* Change this to match your website */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensures it's on top */
    flex-direction: column;
}

#preloader.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s;
  }

/* Loader Animation (Spinner) */
.loader {
    font-size: 2rem;
    font-weight: bold;
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Hide the main content initially */
#content {
    display: none;
}

.home a {
    color: red;
}

/* .fadein #f1 {
    width: 85vw;
    height: auto;
    position: absolute;
    right: 0;
    padding-right: 1vw;
}

@media (max-aspect-ratio: 5/5) {
    .fadein #f1 {
        width: 65vw;
    }
}


@media (max-aspect-ratio: 4/5) {
    .fadein #f1 {
        width: 100vw;
        padding: 0 5vh;
    }
  } */