:root {
    --background: #000000;
    --background-2: #000000;
    --text: #ffffff;
}

/* 
min meaning, everything bigger than x is affected 
exact meaning, only the exact ratio is affected
max meaning, everything smaller than x is affected
*/

body {
    min-height: fit-content;
}

.work,
.about,
.instagram,
.nova,
.vsco {
    cursor: pointer;
}

.work:hover,
.about:hover,
.instagram:hover,
.nova:hover,
.vsco:hover {
    animation: redAni 5s infinite;
}

.page-wrapper {
    display: flex;
    /* Use Flexbox to create a 2-column layout */
    width: 100vw;
    /* Full viewport width */
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}

.canvas-container {
    width: 50vw;
    height: calc(var(--vh, 1vh) * 100);
}

.content-container {
    width: 50vw;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    position: relative;

}

@media (max-aspect-ratio: 5/5) {
    .canvas-container {
        display: none;
        /* Hides the left side */
    }

    .content-container {
        width: 100vw;
        /* Makes content full-width */
        overflow: hidden;
        height: calc(var(--vh, 1vh) * 100);
    }
}

.page-header {
    z-index: 5000;
    width: 34vw;
    height: auto;
    position: absolute;
    top: 1vw;
    right: 0;
    padding-right: 1vw;
}


@media (max-aspect-ratio: 5/5) {
    .page-header {
        width: 65vw;
        top: calc(var(--vh, 1vh) * 1);
        right: 0;
    }
}

@media (max-aspect-ratio: 4/5) {
    .page-header {
        width: 100vw;
        top: calc(var(--vh, 1vh) * 1);
        padding: 0 5vh;
    }
}

.fadein #f1 {
    width: 34vw;
    height: auto;
    position: absolute;
    right: 0;
    padding-right: 1vw;
}

@media (max-aspect-ratio: 5/5) {
    .fadein #f1 {
        width: 65vw;
    }
}


@media (max-aspect-ratio: 4/5) {
    .fadein #f1 {
        width: 100vw;
        padding: 0 5vh;
    }
}

.cpd-logo {
    animation: redAni 5s infinite;
}

.liveTime {
    font-size: 1.5vw;
    color: var(--text);
    font-family: Geist-Mono;
    text-align: right;
}


@media (max-aspect-ratio: 5/5) {
    .liveTime {
        font-size: calc(2vw + 1vh);
    }
}

@media (max-aspect-ratio: 4/5) {
    .liveTime {
        text-align: center;
        font-size: calc(3.25vw + 0.5vh);
    }
}

.mlh-image {
    border-radius: 36rem;
    border-width: 3px;
    border-color: var(--background-2);
    border-style: solid;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 22.4rem;
    border-bottom-right-radius: 90.6rem;
    border-top-right-radius: 0.1rem;
    border-left: 0px;
    border-top: 0px;

    position: absolute;
    width: calc(10vw + calc(var(--vh, 1vh) * 35));
    height: auto;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%) scale(1);
}

@media (max-aspect-ratio: 5/5) {
    .mlh-image {
        width: 60vw;
        transform: translate(0%, 0) scale(1);
    }
}

@media (max-aspect-ratio: 4/5) {
    .mlh-image {
        width: 60vw;
        transform: translate(0%, 16.5vw) scale(1);
    }
}

@media (max-aspect-ratio: 7/10) {
    .mlh-image {
        width: 80vw;
    }
}

.mike-image {
    position: absolute;
    width: calc(10vw + calc(var(--vh, 1vh) * 35));
    height: auto;
    bottom: 0%;
    right: 0%;
}

.ultra-wide-ratio .mike-image {
    position: absolute;
    width: calc(10vw + calc(var(--vh, 1vh) * 35));
    height: auto;
    bottom: 0;
    right: 0;
}

@media (max-aspect-ratio: 5/5) {
    .mike-image {
        width: 70vw;
        transform: translate(10vw, 0) scale(1);
    }
}

@media (max-aspect-ratio: 4/5) {
    .mike-image {
        width: 70vw;
        transform: translate(10vw, 0) scale(1);
    }
}

@media (max-aspect-ratio: 7/10) {
    .mike-image {
        width: 100vw;
        transform: translate(30vw, 0) scale(1);
    }
}

.work-image {
    position: absolute;
    width: calc(calc(calc(var(--vh, 1vh) * 20) + 15vw));
    height: auto;
    top: calc(calc(var(--vh, 1vh) * 7.5) + 7.5vw);
    transform: translate(calc(22vw), 0%) scale(1);
}

@media (max-aspect-ratio: 7/5) {
    .work-image {
        transform: translate(calc(20vw), 0%) scale(1);
    }
}

@media (max-aspect-ratio: 5/5) {
    .work-image {
       width: calc(calc(calc(var(--vh, 1vh) * 20) + 30vw));
        top: calc(calc(calc(var(--vh, 1vh) * 8) + 10vw));
        right: 5vw;
        transform: translate(0, 0%) scale(1);
    }
}

@media (max-aspect-ratio: 4/5) {
    .work-image {
        width: 57.5vw;
        top: calc(calc(var(--vh, 1vh) * 24) - 6.5vw);
        left: 45vw;
        transform: translate(-9vw, 0);
    }
}

@media (max-aspect-ratio: 7/10) {
    .work-image {
        rotate: 20deg;
        top: calc(calc(var(--vh, 1vh) * 32) - 6.5vw);
        left: 50vw;
    }
}

.about-image {
    position: absolute;
    width: calc(calc(calc(var(--vh, 1vh) * 20) + 15vw));
    height: auto;
    top: calc(calc(var(--vh, 1vh) * 25) + 17.5vw);
    transform: translate(1.5vw, 0%) scale(1);
}

.ultra-wide-ratio .about-image {
    position: absolute;
    width: calc(calc(calc(var(--vh, 1vh) * 20) + 15vw));
    height: auto;
    top: calc(calc(var(--vh, 1vh) * 20) + 17.5vw);
    transform: translate(2vw, 0%) scale(1);
}

@media (max-aspect-ratio: 5/5) {
    .about-image {
        width: 50vw;
        top: calc(calc(var(--vh, 1vh) * 55) + 10vw);
        right: 47.5vw;
        transform: translate(0vw, 0);
    }
}

@media (max-aspect-ratio: 4/5) {
    .about-image {
        width: 55vw;
        top: calc(calc(var(--vh, 1vh) * 55) + 10vw);
        right: 50vw;
        transform: translate(6vw, 0);
    }
}

@media (max-aspect-ratio: 7/10) {
    .about-image {
        rotate: -20deg;
    }
}

.tap-the-glass-image {
    position: absolute;
    width: calc(calc(calc(var(--vh, 1vh) * 10) + 5vw));
    height: auto;
    top: calc(calc(var(--vh, 1vh) * 17.5) + 10vw);
    left: 35vw;
    animation: rotate-glass 3s infinite;
    cursor: pointer;
}

.ultra-wide-ratio .tap-the-glass-image {
    position: absolute;
    width: calc(calc(calc(var(--vh, 1vh) * 5) + 3.5vw));
    height: auto;
    top: calc(calc(var(--vh, 1vh) * 18.5) + 10vw);
    left: 22vw;
}

@media (max-aspect-ratio: 4/5) {
    .tap-the-glass-image {
        width: 17.5vw;
        top: calc(calc(var(--vh, 1vh) * 24) + 10vw);
        left: 75vw;
    }
}

@media (max-aspect-ratio: 7/10) {
    .tap-the-glass-image {
        top: calc(calc(var(--vh, 1vh) * 65) + 10vw);
        left: 20vw;
    }
}

/* @media (min-aspect-ratio: 3/5) {
    .tap-the-glass-image {
        width: 25vw;
        height: auto;
        top: calc(calc(var(--vh, 1vh) * 28) + 10vw);
        left: 60vw;
    }
} */

.media-container {
    position: absolute;
    right: 0vw;
    bottom: 0vw;
    transform: translate(1vw, 0%) scale(1);
}

.media-links {
    z-index: 5000;
    padding-bottom: 1vw;
}

.vsco-image {
    border: 2px solid 0;
    border-radius: 500px;
}

@media (max-aspect-ratio: 7/10) {
    .instagram-image {
        transform: translate(0%, 0%) scale(1);
    }

    .nova-image {
        transform: translate(0%, 0%) scale(1);
    }

    .vsco-image {
        border: 2px solid 0;
        border-radius: 500px;
        transform: translate(0%, -0%) scale(1);
    }
}

.empty {
    display: none;
}

.tall-ratio .empty {
    display: block;
}

.tall-ratio .media-container {
    transform: translate(0vw, 0vw) scale(1);
}

.tall-ratio .social-image {
    padding-bottom: 6.75vw;
}

:hover {
    animation-play-state: paused;
}

@keyframes rotate-glass {

    0%,
    100% {
        rotate: 45deg;
        scale: 1;
    }

    50% {
        rotate: 0deg;
        scale: 1.25;
    }
}
