:root {
    --gap: 0.75vw;
    --gap-mobile: 2.5vw;
}

.noise {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: var(--noise-var);
    image-rendering: crisp-edges;
}

body {
    background: var(--background-2);
}


.work .containerFlex .containerFlexMid .containerMid {
    padding-top: 4px;
    transition: width 1s ease-in-out;
}

.work .containerFlex .containerFlexMid .imgSquare {
    width: 40%;
}

.work .containerFlex .containerFlexMid .imgLandscape {
    width: 50%;
}

.work .containerFlex .containerFlexMid .containerMid:hover {
    position: relative;
    transition: width 1s ease-in-out;
}

.work .containerFlex .containerFlexMid .imgSquare:hover {
    width: 50%;
}

.work .containerFlex .containerFlexMid .imgLandscape:hover {
    width: 65%;
}

.work .containerFlex .containerFlexMid .containerMid img {
    /* cursor: pointer; */
    width: 100%;

    @media (max-width: 768px) {
        max-height: 50dvw
    }
}

.work .containerFlex .realign {
    display: flex;
    gap: var(--gap);
    height: 150vw;
    margin-top: var(--gap);
    margin-bottom: var(--gap);
}

.work .containerFlex .realign .containerColumnLeft {
    align-items: flex-end;
}

.work .containerFlex .realign .containerColumnRight {
    align-items: flex-start;
}

.work .containerFlex .realign .containerColumn {
    transition: min-height 0.3s ease;
    min-height: 150vw;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 30dvw;
}

.work .containerFlex .realign .containerColumn .column {
    display: flex;
    flex: 1 0 auto;
    transition: height 1s ease-in-out;
}

.work .containerFlex .realign .containerColumn .columnRight {
    justify-content: flex-start;
}

.work .containerFlex .realign .containerColumn .columnLeft {
    justify-content: flex-end;
}

.work .containerFlex .realign .containerColumn .column img {
    object-fit: fill;
    height: 100%;
}

.work .containerFlex .realign .containerColumn .columnLeft img {
    object-position: right center;
}

.work .containerFlex .realign .containerColumnRight .columnRight img {
    object-position: left center;
}

.work .height-0 {
    height: 10%;
}

.work .height-0:hover {
    height: 13%;
}

.work .height-1 {
    height: 11%;
}

.work .height-1:hover {
    height: 14.3%;
}

.work .height-2 {
    height: 12%;
}

.work .height-2:hover {
    height: 15.6%;
}

.work .height-3 {
    height: 13%;
}

.work .height-3:hover {
    height: 16.9%;
}

.work .height-4 {
    height: 14%;
}

.work .height-4:hover {
    height: 18.2%;
}

.work .containerFlex .containerFlexMid {
    display: flex;
    justify-content: center;
    max-height: 80dvw;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 70dvw
    }
}

@media (max-width: 540px) {
    .work .containerFlex .realign .containerColumnRight {
        gap: var(--gap-mobile);
    }

    .work .containerFlex .realign {
        gap: var(--gap-mobile);
        margin-top: var(--gap-mobile);
        height: 200vw;
    }


    .work .containerFlex .realign .containerColumnLeft {
        gap: var(--gap-mobile);
    }
}

@media (max-width: 540px) {
    .realign .containerColumn {
        min-height: 200vw;
    }
}

[data-category] {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, height 0.3s ease;
    display: none;
    /* Start hidden */
    height: 0;
    overflow: hidden;
}

[data-category].active {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, height 0.3s ease;
    display: flex;
    /* Match your layout containers */
    height: auto;
    overflow: visible;
}

.work .containerFlex .containerFlexMid {
    height: auto;
}


/* Modal styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: var(--background-2);
}

.modal-overlay-open {
    display: flex;
    overflow-y: hidden;
}

.modal-content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-open {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.modal-container {
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

/* WebKit browsers */
.modal-container::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .modal-container {
        overflow: hidden;
    }
}

.modal-title {
    /* border: 3px solid red; */
    font-family: Mirtha;
    font-style: italic;
    font-size: 10vh;
    color: white;
    text-align: center;

}

@media (max-width: 540px) {
    .modal-title {
        /* border: 3px solid red; */
        font-size: 7.5vh;
        line-height: 7.5vh;
    }

    .work .containerFlex .containerFlexMid .imgSquare {
        width: 70%;
    }

    .work .containerFlex .containerFlexMid .imgLandscape {
        width: 80%;
    }

    .work .containerFlex .containerFlexMid .imgSquare:hover {
        width: 80%;
    }

    .work .containerFlex .containerFlexMid .imgLandscape:hover {
        width: 90%;
    }

}

/* Blur effect for background */
.blur-background {
    filter: blur(5px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes fadeInColour {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOutColour {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes blurIn {
    from {
        filter: blur(0px);
    }

    to {
        filter: blur(5px);
    }
}

@keyframes blurOut {
    from {
        filter: blur(5px);
    }

    to {
        filter: blur(0px);
    }
}

.ani-fadeInColour {
    animation: fadeInColour 1.25s ease-in-out;
}

.ani-fadeOutColour {
    animation: fadeOutColour 1.25s ease-in-out;
}

.ani-fadeIn {
    animation: fadeIn 1.25s ease-in-out;
}

.ani-fadeOut {
    animation: fadeOut 1.25s ease-in-out;
}

.ani-blurIn {
    animation: blurIn 1.25s ease-in-out;
}

.ani-blurOut {
    animation: blurOut 1.25s ease-in-out;
}

.modal-image-group-container {
    /* border: 3px solid red; */
    display: inline-flex;
    flex-direction: row;
    height: 60vh;
    /* width: fit-content; */
    gap: calc(var(--gap) * 2);
    /* margin-bottom: var(--gap); */
}

.modal-group-image {
    /* border: 3px solid red; */
    width: auto;
    object-fit: contain;
}

.modal-main-image {
    display: inline-flex;
    flex-direction: column;
    max-height: 60vh;
    max-width: 80vw;
    object-fit: contain;
    margin-bottom: 5vh; 
}