@media (max-width: 540px) {}

#track-info {
    border: 3px solid red;
    margin: auto;
    width: 50%;
    text-align: center;
}

#track-info img {
    border: 3px solid red;
    width: 100%;
}

.container {
    margin: 5vw;
}

.work .containerFlex .realign .containerColumnRight {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 0.75vw;
    margin-top: 0.325vw;
    margin-bottom: 0.325vw;
    align-items: flex-start;
    width: 30dvw;
}

.work .containerFlex .realign .containerColumnRight .columnRight {
    display: flex;
    justify-content: flex-start;
    flex: 1 0 auto;
}

.work .containerFlex .realign {
    display: flex;
    gap: 0.75vw;
    height: 150vw;
}

.work .containerFlex .realign .containerColumnLeft {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 0.75vw;
    margin-top: 0.325vw;
    margin-bottom: 0.325vw;
    align-items: flex-end;
    width: 30dvw;
}

.work .containerFlex .realign .containerColumnLeft .columnLeft {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
}

.work .containerFlex .realign .containerColumnLeft .columnLeft img {
    object-fit: fill;
    object-position: right center;
    height: 100%;
}

.work .containerFlex .realign .containerColumnRight .columnRight img {
    object-fit: fill;
    object-position: left center;
    height: 100%;
}

.work .containerFlex .containerFlexMid {
    display: flex;
    justify-content: center;
    max-height: 80dvw;
    margin: 0 auto;
    @media (max-width: 768px) {
        width:70dvw
    }
}

.work .containerFlex .containerFlexMid img{
    cursor: pointer;
    width: 100%;
    @media (max-width: 768px) {
        max-height:50dvw
    }

    object-fit:cover
}