/* RESET.CSS */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* GLOBALS */
li {
    list-style-type: none;
}

body {
    font-family: 'Public Sans', sans-serif;
    color: white;
    width: 100%;
    margin: 0 auto;
    background-color: lightgray;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* STYLE.CSS */
/* @font-face {
    font-family: Generic;
    src: url("/CPD-WEBSITE/assets/Generic-G50-CC-Typic.ttf") format("truetype"),
        url("/CPD-WEBSITE/assets/Generic-G50-CC-Typic.woff") format("woff");
}

@font-face {
    font-family: Octuple;
    src: url("/CPD-WEBSITE/assets/Octuple-max-demo.ttf") format("truetype");
} */

body {
    font-family: Generic, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    background: black;
}

p {
    font-family: Generic, serif;
    font-weight: 400;
    font-size: 15px;
}

h1,
h2 {
    font-family: Generic, serif;
}

h1 {
    font-size: 5.8rem;
    line-height: 1;
    color: rgba(255, 0, 0, 0.85);
    filter: drop-shadow(0rem 0rem 0.96rem #ff0000);
    text-decoration: none;
}

.swashStyle {
    font-feature-settings: "swsh";
}

h2 {
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    font-family: Octuple;
    font-size: 18px;
    font-weight: normal;
    line-height: auto;
}

h4 {
    font-family: Quasimoda;
    font-size: 11px;
    line-height: auto;
    letter-spacing: 0.875px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px;
}

/* GRID.CSS */
.container {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 1em;
    grid-row: auto;
}

.containerNoGap {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1em;
    grid-row: auto;
}

.innerContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 1em;
    grid-row: auto;
}

.containerFullFlex {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.containerFull {
    width: 100%;
    margin: auto;
}

.containerNoPadding {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    grid-row: auto;
}

.nestedHalf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5em;
    grid-row-gap: 1em;
}

.nestedQuarter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5em;
    grid-row-gap: 1em;
}

.width-1 {
    grid-column: span 1;
}

.width-2 {
    grid-column: span 2;
}

.width-3 {
    grid-column: span 3;
}

.width-4 {
    grid-column: span 4;
}

.width-5 {
    grid-column: span 5;
}

.width-6 {
    grid-column: span 6;
}

.width-7 {
    grid-column: span 7;
}

.width-8 {
    grid-column: span 8;
}

.width-9 {
    grid-column: span 9;
}

.width-10 {
    grid-column: span 10;
}

.width-11 {
    grid-column: span 11;
}

.width-12 {
    grid-column: span 12;
}

/* HEADER.CSS */

.imagesDisplay {
    background-color: red;
    height: 100vh;
}

@keyframes blueAni {

    0%,
    100% {
        filter: sepia(100) invert(100%) saturate(50) drop-shadow(0rem 0rem 0rem #63d2f4) blur(0px);
    }

    50% {
        filter: sepia(100) invert(100%) saturate(100) drop-shadow(0rem 0rem 1rem #63d2f4);
    }
}

@keyframes redAni {

    0%,
    100% {
        filter: sepia(100) invert(0%) saturate(10) drop-shadow(0rem 0rem 0rem #ff0000) blur(0px);
    }

    50% {
        filter: sepia(100) invert(0%) saturate(40) drop-shadow(0rem 0rem 1rem #ff0000);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* LANDING.CSS */

.work,
.about,
.instagram,
.nova,
.vsco {
    cursor: pointer;
}

.work:hover,
.about:hover,
.instagram:hover,
.nova:hover,
.vsco:hover {
    filter: sepia(100) invert(100%) saturate(100) blur(0px) drop-shadow(0rem 0rem 0.25rem #ffffff);
}

.page-wrapper {
    display: flex; /* Use Flexbox to create a 2-column layout */
  width: 100vw;  /* Full viewport width */
  height: 100vh;
}

.canvas-container {
    width: 50vw; /* Takes up 50% of the viewport width */
    height: 100vh;
    background: red; /* Placeholder for your 3D rendered loop */
  }

.content-container {
    width: 50vw; /* Takes up the other 50% */
  height: 100vh;
  position: relative; /* Since you use absolute positioning inside */
  /* transition: width 0.3s ease-in-out; */
}

@media (max-width: 540px) {
    .canvas-container {
      display: none; /* Hides the left side */
    }
  
    .content-container {
      width: 100vw; /* Makes content full-width */
      height: 100vh;
    }
  }

.cpd-logo {
    /* border: 3px solid red; */
    animation: redAni 5s infinite;
}

.webgl {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.webgl .cpd-logo {
    width: 50%;
}

@media (max-width: 540px) {
    .webgl .cpd-logo {
        width: 90%;
    }
}


#track-info {
    border: 3px solid red;
    margin: auto;
    width: 50%;
    text-align: center;
}

#track-info img {
    border: 3px solid red;
    width: 100%;
}